# Ignore all files in the node_modules directory
node_modules/

# Ignore all build artifacts
build/
dist/

# Ignore specific file types
*.min.js
*.log

# Ignore all files in a directory
weather.me.postman_collection.json